/**
 * @Desc：网上门诊弹层
 * @Usage:
 * @Notify：
 * @Depend：
 *
 * Created by wangjingrong on 2017/5/3
 */
.mask_layer {
  width: 100%;
  background: rgba(0, 0, 0, 0.50);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition:all 0.4s ease-in-out;
  &.show{
    opacity: 1;
    visibility: visible;
    .onlineVisit_mask{
      opacity: 1;
      transform:translateY(0);

    }
  }
  .onlineVisit_mask {
    width: 100%;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform:translateY(100%);
    opacity: 0;
    transition:all 0.2s 0.1s ease-in-out;
    .swiper-slide {
      width: 100%;
      .icon_close_mask {
        float: right;
        margin-right: rem(20px);
        padding-left: rem(40px);
        width: rem(40px);
        height: rem(40px);
        background: url("/image/img00/doctorMain/pay_close@2x.png") no-repeat center;
      }
      .visit_tiny_tip {
        padding: rem(36px) 0 0 rem(40px);
        color: #aaa;
        @include font-dpr(12px);
      }
      .inquiryType {
        margin-top: rem(90px);
        text-align: center;
        font-weight: normal;
        color: #222;
        @include font-dpr(18px);
        span {
          padding-left: rem(16px);
          color: #777;
          @include font-dpr(15px);
        }
        &.inquiryType_normal:before {
          display: inline-block;
          content: '';
          width: rem(40px);
          height: rem(40px);
          margin-right: rem(12px);
          vertical-align: sub;
          background: url("/image/img00/doctorMain/normal_inquiry.png") no-repeat;
          background-size: 100% 100%;
        }
        &.inquiryType_special:before {
          display: inline-block;
          content: '';
          width: rem(40px);
          height: rem(40px);
          margin-right: rem(12px);
          vertical-align: sub;
          background: url("/image/img00/doctorMain/urgent_inquiry.png") no-repeat;
          background-size: 100% 100%;
        }
        &.inquiryType_urgent:before {
          display: inline-block;
          content: '';
          width: rem(40px);
          height: rem(40px);
          margin-right: rem(12px);
          vertical-align: sub;
          background: url("/image/img00/myServices/home_free visits@2x.png") no-repeat;
          background-size: 100% 100%;
        }
        &.inquiryType_urgent:after {
          display: inline-block;
          content: '';
          width: rem(168px);
          height: rem(40px);
          margin-right: rem(12px);
          vertical-align: sub;
          background: url("/image/img00/myServices/home_label@2x.png") no-repeat;
          background-size: 100% 100%;
        }
      }
      .dox_cando {
        padding: 0 rem(40px);
        margin-top: rem(50px);
        @include clearfix();
        li {
          float: left;
          margin: 0 rem(50px) rem(30px) 0;
          color: #777;
          @include font-dpr(13px);
          &:before {
            display: inline-block;
            content: "";
            margin-right: rem(15px);
            width: rem(6px);
            height: rem(6px);
            border-radius: 50%;
            background: #909090;
            vertical-align: 0.1rem;
          }
        }
      }
      .why_charge {
        figcaption {
          padding-left: rem(60px);
          color: #aaa;
          @include font-dpr(10px);
          margin-bottom:rem(50px);
          &:before {
            display: inline-block;
            content: "";
            margin-right: rem(6px);
            width: rem(28px);
            height: rem(28px);
            background: url("/image/img00/doctorMain/pay_prompt@2x.png") no-repeat center;
            background-size: 100% 100%;
            vertical-align: middle;
          }
        }
        .charge_reason {
          margin: rem(24px) rem(48px) rem(56px);
          padding: rem(30px);
          background: #F9FBFB;
          border-radius: 4px;
          color: #aaa;
          @include font-dpr(14px);
          line-height: rem(40px);
          display: none;
        }
      }
      .go_payment {
        display: block;
        width: rem(570px);
        line-height: rem(88px);
        @include font-dpr(16px);
        color: #fff;
        text-align: center;
        background: #00D6C6;
        border-radius: 100px;
        margin: 0 auto rem(48px);
        &.default{
          color: #ffffff;
          background: #DFDFDF;
        }
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        width: rem(12px);
        height: rem(12px);
        border-radius: 50%;
        margin-right: rem(20px);
        opacity: 0.1;
      }
      .swiper-pagination-bullet-active {
        background: #aaa;
        opacity: 1;
      }
    }
  }
}
.moudle_title {
  margin-left: rem(28px);
  padding-top: rem(50px);
  color: #555;
  @include font-dpr(16px);
  font-weight: normal;
  &:before {
    display: inline-block;
    content: '';
    width: 3px;
    height: rem(24px);
    vertical-align: middle;
    margin-right: rem(8px);
    background: #00D6C6;
  }
  .netVisitIcon_onLine{
    display: inline-block;
    margin-left: rem(15px);
    &.isOpenQuestion{
      vertical-align: sub;
      width:rem(32px);
      height: rem(32px);
      background: url("/image/img00/myServices/home_don't open@2x.png") no-repeat center;
      background-size: 100% 100%;
    }
    &.lastNumTotal{
      vertical-align: sub;
      width:rem(32px);
      height: rem(32px);
      background: url("/image/img00/myServices/home_remaining places@2x.png") no-repeat center;
      background-size: 100% 100%;
    }
    &.lastNumNull{
      vertical-align: sub;
      width:rem(32px);
      height: rem(32px);
      background: url("/image/img00/myServices/home_places use up@2x.png") no-repeat center;
      background-size: 100% 100%;
    }
  }
  .netVisitText_onLine{
    display: inline-block;
    margin-left: rem(5px);
    &.isLastNum{
      color: #00D6C6;
    }
    &.isNotOpenQues{
      color: #FA787A;
    }
    &.isNullNum{
      color: #90B0D7;
    }
  }
}



